.larg-pagina{
	max-width:1400px;
}
.larg-img-perfil{
	width:100%;
}

.primeira-habilidade{
	width:90%;
}

.segunda-habilidade{
	width:80%;
}

.terceira-habilidade{
	width:70%;
}

.quarta-habilidade{
	width:30%;
}

.primeiro-idioma{
	width:50%;
}

.segundo-idioma{
	width:90%;
}
